.list-unstyled {
  padding: 0;
  margin: 0;
}
.list-unstyled > li {
  list-style-type: none;
}
.list-inline > li {
  display: inline;
}
.breadcrumb {
  @extend .list-unstyled;
}
.breadcrumb > li {
  list-style-type: none;
  display: inline;
}
.breadcrumb > li:not(:last-child):after {
  content: '/';
  margin: 0 0.25em;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.container-col {
  @extend .container;
  flex-direction: column;
}
.container-row {
  @extend .container;
  flex-direction: row;
}
.container-justify-center {
  justify-content: center;
}
.container-justify-between {
  justify-content: space-between;
}
.container-justify-around {
  justify-content: space-around;
}
.container-align-start {
  align-items: flex-start;
}
.container-align-end {
  align-items: flex-end;
}
.container-align-center {
  align-items: center;
}
.container-align-stretch {
  align-items: stretch;
}
.container-align-baseline {
  align-items: baseline;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-shrink-2 {
  flex-shrink: 2;
}
.flex-shrink-3 {
  flex-shrink: 3;
}
.flex-align-start {
  align-self: flex-start;
}
.flex-align-end {
  align-self: flex-end;
}
.flex-align-center {
  align-self: center;
}
.flex-align-stretch {
  align-self: stretch;
}
.flex-align-baseline {
  align-self: baseline;
}

.pointer {
  cursor: pointer;
}

.pull-start {
  float: left;
}
.pull-end {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.fa {
  color: white;
}
.fa-inverse {
  color: black;
}

.hidden {
  display: none;
}