$font-stack: Calibri, Arial, Helvetica, sans-serif;
$font-color: #eee2e2;
$a-color: #de8d96;
$a-hover-color: #fad5d9;
$bg-color: #171616;
$bg-color2: #312a2a;

* {
  box-sizing: border-box;
}

a,
#ctrl-buttons > span,
#ctrl-seeker-empty,
.breadcrumb {
  -webkit-transition: all .1s ease;
          transition: all .1s ease;
}

.relHeight {
  position: relative;
  height: 100%;
}
.relWidth {
  position: relative;
  width: 100%;
}

html {
  @extend .relHeight;
  background: $bg-color;
}

body {
  @extend .relHeight;
  font: 100% $font-stack;
  color: $font-color;
  background: $bg-color2;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

a {
  color: $a-color;
  text-decoration: none;
}
a:hover {
  color: $a-hover-color;
  text-decoration: none;
}
a:focus {
  @extend a:hover;
}
.breadcrumb {
  font-variant: small-caps;
  font-size: 1.2em;

  .previous > a {
    color: #888;
  }
  a {
    color: #ccc;
  }
  a:hover {
    color: #eee;
  }
}

#app-container  {
  @extend .relHeight;
}

#lib-container {
  @extend .relHeight;
}

#lib-list-container {
  @extend .relHeight;
  overflow: auto;

  > ul {
    > li {
      padding: 0 10px;
      line-height: 1.5em;
      cursor: pointer;
    }
    > li:hover {
      background: rgba(0,0,0,0.2);
    }
  }
}

#lib-breadcrumb-container {
  padding: 10px;
}

#sidebar-container {
  @extend .relHeight;
  width: 40%;
  max-width: 260px;
  padding: 7px;
  outline: 2px solid black;
}

#songinfo-container {
  @extend .relWidth;
  margin-bottom: 5px;
  text-align: center;
}

#songinfo-cover {
  //height: 100%;
  //width: 100%;
  max-height: 100%;
  max-width: 100%;

  > img {
    // height: auto;
    // width: auto;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #111;
    border-radius: 10px;
    overflow: hidden;
  }
}

#ctrl-container {
  @extend .relWidth;
  text-align: center;
}

$c-buttons-size: 18px;

#ctrl-buttons {
  font-size: $c-buttons-size;
  margin: $c-buttons-size*0.25 0;

  > span {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.9);
    background: rgba(0,0,0,0.1);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.05));
    border: 2.5px solid rgba(255,255,255,0.15);
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.6em;
    vertical-align: middle;
    color: white;
    margin: 0 $c-buttons-size*0.5;

  }
  > span:hover {
    background: rgba(255,255,255,0.1);
    background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
    border: 2.5px solid rgba(255,255,255,0.7);
  }
}

#ctrl-buttons-prev {
  padding-right: $c-buttons-size*0.25;
}
#ctrl-buttons-next {
  padding-left: $c-buttons-size*0.25;
}

#ctrl-time {
  margin-bottom: 5px;
}

#ctrl-time-current,
#ctrl-time-total,
#ctrl-seeker {
}

#ctrl-seeker {
  position: relative;
  display: inline-block;
  // width: 95%;
  height: 16px;
  margin: 0 5px;
}

#ctrl-seeker-empty {
  position: absolute;
  height: 50%;
  top: 25%;     /* (100%-height)/2 */
  width: 100%;
  background: #222;
  background: linear-gradient(to bottom, #1a1a1a, #222);
  border: 2px solid #111;
  border-radius: 4px;
}

#ctrl-seeker-loaded,
#ctrl-seeker-played {
  position: absolute;
  height: 100%;
  border-radius: inherit;
}
#ctrl-seeker-loaded {
  width: 66%;
  background: #777;
  background: linear-gradient(to bottom, #303030 70%, #777);
}
#ctrl-seeker-played {
  width: 33%;
  //background: linear-gradient(to bottom, #fad5d9, #de8d96 80%);
  background: #fad2d6;
  background: rgb(250, 225, 225);
  box-shadow: 0 0 10px 3px rgba(222, 141, 150, 0.4);
}
