<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dongers</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
  <div class="container">
    <h1><%= title %></h1>

    <ul>
    <% for (var i = 0; i < items.length; i++) { %>
      <li><%= items[i].artist+' - '+items[i].title+' ('+items[i].album+(items[i].artist==items[i].albumArtist?'':' ['+items[i].albumArtist+']')+')' %></li>
    <% } %>
    </ul>

    <form action="add/" method="post">
      <div class="form-group">
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="form-group">
        <input type="text" name="artist" placeholder="Artist">
      </div>
      <div class="form-group">
        <input type="text" name="album" placeholder="Album">
      </div>
      <div class="form-group">
        <input type="text" name="band" placeholder="Album artist (optional)">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="/jquery.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>