<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pyreal v7</title>
  <!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"> -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/helper.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <div id="app-container" class="container-row">
    <div id="sidebar-container" class="container-col container-justify-start">

      <div id="songinfo-cover" class="flex-shrink-1">
        <img src="/img/pyreal.jpg" alt="Pyreal">
      </div>

      <div id="songinfo-container" class="flex-shrink-0">
        <div>
          <span id="songinfo-band"></span> <span id="songinfo-artist">Pink Floyd</span>
        </div>
        <div>
          <span id="songinfo-title">The Great Gig In The Sky<!--Pyreal--></span>
        </div>
        <div>
          <span id="songinfo-track">#05</span>
          <span id="songinfo-album">Dark Side Of The Moon<!--v7a-150225--></span>
          <span id="songinfo-date">(1973)</span>
        </div>
      </div>

      <div id="ctrl-container" class="flex-shrink-0">
        <div id="ctrl-time" class="container-row container-justify-between container-align-center">
          <span id="ctrl-time-current">00:00</span>
          <div id="ctrl-seeker" class="pointer flex-grow-1">
            <div id="ctrl-seeker-empty">
              <div id="ctrl-seeker-loaded"></div>
              <div id="ctrl-seeker-played"></div>
            </div>
          </div>
         <span id="ctrl-time-total">04:35</span>
        </div>
        <div id="ctrl-buttons">
          <span id="ctrl-buttons-prev" class="fa fa-lg pointer fa-backward"></span>
          <span id="ctrl-buttons-play" class="fa fa-2x pointer fa-play"></span>
          <span id="ctrl-buttons-next" class="fa fa-lg pointer fa-forward"></span>
        </div>
      </div>
    </div>

    <div id="lib-container" class="container-col flex-grow-1">
      <div id="lib-breadcrumb-container"></div>
      <div id="lib-list-container"></div>
    </div>
  </div>

<script type="text/x-handlebars" id="lib-breadcrumb-template">
<ul class="breadcrumb container-row">
  {{#each nav}}
    <li class="{{className}}"><a href="#{{url}}">{{title}}</a></li>
  {{/each}}
</ul>
</script>

<script type="text/x-handlebars" id="lib-list-template">
<ul class="list-unstyled">
{{#each collection}}
  <li><a href="#{{path}}" class="lib-item-dir">{{name}}</a></li>
{{/each}}
</ul>
</script>

<script type="text/x-handlebars" id="lib-tracks-template">
<ul class="list-unstyled">
{{#each collection}}
  <li><span class="lib-item-track">{{format-track track}}</span> <span class="lib-item-title">{{title}}</span></li>
{{/each}}
</ul>
</script>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/handlebars/handlebars.min.js"></script>
  <script src="/underscore/underscore-min.js"></script>
  <script src="/backbone/backbone.js"></script>

  <script src="/js/pyreal-state.js"></script>
  <script src="/js/pyreal-view.js"></script>
  <script src="/js/backbone-app.js"></script>
</body>
</html>