<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pyreal</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<script type="text/x-handlebars">
  <div class="container">
    {{#link-to 'index'}}<h2>Pyreal</h2>{{/link-to}}
    {{#link-to 'lib'}}Library{{/link-to}}

    {{outlet "lib"}}

  </div>
</script>

<script type="text/x-handlebars" id="lib">
  <ul>
  {{#each model}}
    <li>{{#link-to 'artist' this}}{{this}}{{/link-to}}</li>
  {{/each}}
  </ul>
</script>
<script type="text/x-handlebars" id="artist">
  <ul>
  {{#each model}}
    <li>{{#link-to 'album' this}}{{this}}{{/link-to}}</li>
  {{/each}}
  </ul>
</script>
<script type="text/x-handlebars" id="album">
  <ul>
  {{#each model}}
    <li>{{format-track track}}. {{title}}</li>
  {{/each}}
  </ul>
</script>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/handlebars/handlebars.min.js"></script>
  <script src="/ember/ember.min.js"></script>
  <script src="/ember/ember-template-compiler.js"></script>
  <script src="/js/ember-app.js"></script>

</body>
</html>